<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration><!-- 配置 -->
    <typeAliases>
        <typeAlias alias="Integer" type="java.lang.Integer" />
        <typeAlias alias="Long" type="java.lang.Long" />
        <typeAlias alias="HashMap" type="java.util.HashMap" />
        <typeAlias alias="LinkedHashMap" type="java.util.LinkedHashMap" />
        <typeAlias alias="ArrayList" type="java.util.ArrayList" />
        <typeAlias alias="LinkedList" type="java.util.LinkedList" />
    </typeAliases>
<!--<configuration> 配置 -->
<!--    <properties /> 属性 -->
<!--    <settings /> 设置 -->
<!--    <typeAliases /> 类型命名 -->
<!--    <typeHandlers /> 类型处理器 -->
<!--    <objectFactory /> 对象工厂 -->
<!--    <plugins /> 插件 -->
<!--    <environments> 配置环境 -->
<!--        <environment> 环境变量 -->
<!--            <transactionManager /> 事务管理器 -->
<!--            <dataSource /> 数据源 -->
<!--        </environment>-->
<!--    </environments>-->
<!--    <databaseIdProvider /> 数据库厂商标识 -->
<!--    <mappers /> 映射器 -->
<!--</configuration>-->
</configuration>